#vboxForTasks{
    -fx-background-color: rgb(141, 148, 148);
}
#groupsVbox{
    -fx-background-color: rgb(141, 148, 148);
}
.button{
    -fx-background-color: orange;
}
.separator{
    -fx-background-color: rgb(150, 150, 150);
}