#vboxForTasks{
    -fx-background-color: rgb(204, 255, 255);
}
#groupsVbox{
    -fx-background-color: rgb(204, 255, 255);
}
.button{
    -fx-background-color: lightblue;
}
.separator{
    -fx-background-color: red;
}